/* GENERAL RULES */
* {
  padding: 0;
  margin:0;
  box-sizing: border-box;
  font-family: 'Montserrat';
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

a {
  text-decoration: none;
  color: black;
}

.fly_l {
  float: left;
}

.fly_r {
  float: right;
}

.buttonget {
  background-color: #ff7a59;
  border: 1px solid white;
  color: white;
}

li {
  list-style-type: none;
}

/* END GENERAL RULES */
.nav {
  position:fixed;
  top: 0;
  width: 100%;

}
/* NAV RULES */
/* Nav left up */
.wrap {
  margin: auto;
  width: 100%;
  background-color: #cbd6e2;
}

.nav_up {
  margin: auto;
  width: 1240px;
  height: 60px;
  padding-top: 20px;
}

.nav_up span {
    padding: 0 15px;
}

.show .fa-angle-down {
  padding-right: 5px;
  border-right: 1px solid black;
}

/*  Nav right up */

.fa-search {
  color: #0091ae;
}

.fly_r .join {
  background-color: white;
  border: 1px solid #ff7a59;
  color: #ff7a59;
  padding: 9px 15px 5px;
  border-radius: 5px;
}

.fly_r .buttonget {
  padding: 9px 15px 5px;
  border-radius: 5px;
}

.fly_r a {
  padding: 0 15px;
}

/* nav low */
.cover {
  margin: auto;
  width: 100%;
  margin-top: 58px;
}

.nav_low {
  margin: auto;
  width: 1240px;
}

.logo img {
  padding-top: 8px;
}

.overview li {
  float: right;
  display: inline;
  padding-top: 8px;
  margin: 5px 10px;
}
