/* GENERAL RULES */
* {
  padding: 0;
  margin:0;
  box-sizing: border-box;
  font-family: 'Montserrat';
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
a {
  text-decoration: none;
  color: black;
}
.fly_l {
  float: left;
}
.fly_r {
  float: right;
}
.buttonget {
  background-color: #ff7a59;
  color: white;
  border-radius: 5px;
}
.buttonget:hover {
  background: #ffbcac;
  cursor:pointer;
}
.blue:hover {
  color: #7fd1de;
}
a.join:hover {
  background-color: #fff1ee;
  opacity: 0.8;
  color: #ff7a59;
}
.holdlog , .lowmain , .optioncol , .jumbo , .motto{
  color:#33475b;
}
li {
  list-style-type: none;
}
.wrap {
  margin: auto;
  width: 100%;
}
.getstart {
  margin-top: 50px;
  font-size: 12px;
}
.zoom:hover {
  transform: scale(1.014);
}
/* END GENERAL RULES */
/* NAV RULES */
.nav {
  position:fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}
/*  INIZIO navigation up */
.fixback {
  background-color: #cbd6e2;
}
.nav_up {
  margin: auto;
  width: 1240px;
  height: 60px;
  padding-top: 20px;
}
.nav_up span {
    padding: 0 15px;
}
.show .fa-angle-down {
  padding-right: 5px;
  border-right: 1px solid black;
}
.fa-search {
  color: #0091ae;
}
.fly_r .join {
  background-color: white;
  border: 1px solid #ff7a59;
  color: #ff7a59;
  padding: 9px 15px 5px;
  border-radius: 5px;
}
.fly_r .buttonget {
  padding: 9px 15px 5px;
}
.fly_r a {
  padding: 0 15px;
}
/*  FINE navigation up */
/* INIZIO navigation low */
.cover {
  margin-top: 58px;
}
.nav_low {
  margin: auto;
  width: 1240px;
}
.logo img {
  padding-top: 8px;
}
.overview li {
  float: right;
  display: inline;
  padding-top: 8px;
  margin: 5px 10px;
}
/* FINE navigation low */
/* INIZIO jumbotron navigation */
.jumbo {
  height: 600px;
  background-image: url(../img/jumbotron.png);
  background-position: center;
  background-repeat: no-repeat;
  background-position: 100% 10%;
  background-color: #fef6ef;
}
.intro {
  width: 1240px;
  margin:auto;
  padding-top: 70px;
  padding-right: 827px;
}
.jumbo .intro h1{
 font-size: 45px;
}
.jumbo .intro p{
 margin: 40px 0px 50px 0px;
}
.jumbo .intro .buttonget {
 padding: 25px 45px;
}
/* FINE jumbotron navigation */
/* INIZIO bordo fine navigation */
.ender {
  background: #afebe4;
  height: 95px;
  border-top: 4px solid #112D54;
  border-bottom: 4px solid #112D54;
}
/* FINE bordo fine navigation */
/* END NAV RULES */
/* INIZIO MAIN RULES */
/* Section motto */
main {
  margin-top: 80px;
}
.motto {
  width: 1240px;
  margin: auto;
  text-align:center;
}
.motto img {
  height: 200px;
}
.motto p {
  margin-top: 30px;
}
/* FINE section motto */
/* INIZIO prima feature */
/* Impostazione riga main */
main .mid{
  border: 2px solid lightgray;
  border-radius: 5px;
  width: 1240px;
  margin:auto;
  margin-top: 30px;
  padding-bottom: 30px;
  color: #33475b;
}
main .mid .fly_l {
  float: left;
  width: 30%;
  text-align: center;
  padding-top: 70px;
}
main .mid .fly_l img{
  width: 20%;
  margin-bottom: 20px;
}
main .mid .fly_l .buttonget{
  padding: 15px 30px;
}
main .mid .fly_r{
  float: left;
  width: 70%;
  padding-top: 40px;
}
main .mid .fly_r p{
  font-size: 14px;
  width: 70%;
  padding: 20px 0px;
}
main .mid .fly_r span{
  font-size: 20px;
  font-weight: bold;
}
main .mid .fly_r hr{
  display: inline-block;
  border: 1px solid grey;
  background: black;
  width: 50%;
  margin-left: 30px;
  margin-bottom:7px;
}
main .row .fly_r li{
  display: inline-block;
  margin-right: 20px;
  margin-top: 30px;
  padding-bottom: 40px;
}
/* FINE prima feature */
/* INIZIO seconda riga feature */
.optioncol {
  width: 1240px;
  margin: auto;
  margin-top: 40px;
}
main .col{
  float: left;
  margin-right: 5%;
  width: 30%;
  margin-bottom: 50px;
  border: 3px solid black;
  text-align: center;
  padding: 20px;
  padding-bottom: 40px;
  border: 2px solid lightgray;
  border-radius: 5px;
}
main .col:last-child{
  margin-right: 0%;
}
main .col img{
  height: 75px;
}
main .col p{
  font-size: 15px;
  margin-top: 20px;
  margin-bottom:50px;
}
main .col hr{
  background: gray;
  border: 1px solid gray;
  width: 90%;
  margin: auto;
}
main .col h3{
  margin: 20px;
  font-size: 17px;
}
main .col ul{
  text-align: left;
  margin-bottom: 60px;
}
main .col .buttonget{
  padding: 15px 30px;
}
/* FINE seconda riga feature */
/* INIZIO REPOCHART E SFUMATURA */
/* INIZIO testo repochart */
.sfumato {
  background-image: linear-gradient(to right top, #00a4bc, #00abba, #00b1b5, #00b7ae, #00bda5);
  color: white;
  padding: 40px;
}
.sfumato .wrap .reptext {
  width: 1240px;
  margin: auto;
  text-align: center;
}
.sfumato .wrap .reptext h2 {
  font-size: 35px;
  padding-bottom:25px;
}
/* FINE testo repochart */
/* INIZIO chart */
.replow {
  width: 1240px;
  margin: auto;
  padding-top: 30px;
}
.replow .slot {
  width: 25%;
  border-right: 1px solid white;
  text-align: center;
}
.sfumato .replow .slot .dati {
  font-size: 25px;
  font-weight: bolder;
  margin: 5px;
}
.sfumato .replow .slot p {
  font-size: 10px;
  padding-bottom: 15px;
}
.sfumato .replow .slot img {
  margin-top: 10px;
}
main .sfumato .replow .slot:nth-child(1),
main .sfumato .replow .slot:nth-child(2),
main .sfumato .replow .slot:nth-child(3),
main .sfumato .replow .slot:nth-child(4){
  border-bottom: 1px solid white;
}
main .sfumato .replow .slot:nth-child(4),
main .sfumato .replow .slot:nth-child(8){
  border-right: none;
}
/* FINE chart */
/* FINE REPOCHART E SFUMATURA */
/* INIZIO SEZIONE SPONSOR */
/* INIZIO sponsor logo */
section .holdlog .infolog {
  width: 1240px;
  margin:auto;
}
section .holdlog{
  padding-top: 50px;
}
section .holdlog .usernumb{
  width: 25%;
  padding: 0px 10px 55px 55px;
  font-size: 15px;
}
section .holdlog .usernumb h2{
  font-size: 40px;
  margin-bottom: 20px;
}
section .holdlog .usernumb p{
  line-height: 20px;
}
section .holdlog .sponsor{
  width: 75%;
  margin: auto;
  padding: 10px;
  padding-left: 150px;
}
section .holdlog .sponsor img{
  display: inline-block;
  width: 22%;
  vertical-align: middle;
  margin: 5px 5px;
}
/* FINE sponsor logo */
/* INIZIO finale sponsor */
section .lowmain .smilegirl {
  width: 1240px;
  margin:auto;
}
main .today{
  float: left;
  width: 40%;
  padding-top: 15px;
}
main .today p{
  margin: 20px 5px 40px 5px;
}
main .today .buttonget{
  padding: 20px 35px;
}
main .today .getstart{
  padding-top: 25px;
}
main .fotoragazza{
  float: left;
  width: 60%;
}
main .fotoragazza img{
  float: right;
  width: 40%;
}
/* FINE finale sponsor */
/* FINE SEZIONE SPONSOR */
/* INIZIO FOOTER  */
/* MENU footer */
.footer {
  background-color: #33475b;
}
.order {
  width: 1240px;
  margin:auto;
}
footer .order .panel {
  width: 25%;
}
.helpme {
  background: white;
  color: #33475b;
  padding: 5px;
  border-radius:5px;
}
.panel h3 {
  color:white;
  padding: 35px 0;
}
.panel li a {
  color:white;
}
.panel ul li {
  padding-bottom: 20px;
}
.social {
  padding-top: 15px;
}
.social a i {
  color:white;
  width: 15%;
}
/* FINE MENU footer */
/* HR lingue */
/* Impostazione lingua */
footer .lingue{
  width: 1240px;
  margin: auto;
  padding-top: 50px;
  text-align: center;
  padding-bottom: 20px;
}
footer .lingue a{
  margin: 10px;
  font-size: 15px;
  color:white;
}
footer hr{
  width: 70%;
  margin:auto;
}
/* Informazioni finali */
.finalcontainer {
  width: 1240px;
  margin:auto;
}
.finalcontainer  {
  color:white;
  margin-top: 15px;
  font-size: 13px;
}
.finalcontainer .fly_r span a {
  color:white;
}
/* FINE FOOTER */
